@import '../../../mixins.scss';

.heroBanner{
    width: 100%;
    height: 450px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    position: relative;

    @include md{
        height: 700px;
    }

    .backdrop_img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        opacity: .5;

        .lazy-load-image-background{
            width: 100%;
            height: 100%;   

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .opacity-layer{
        width: 100%;
        height: 250px;
        background: linear-gradient(
            180deg,
            rgba(4, 21, 45, 0) 0%,
            #04152d 79.17%
        ) ;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .contentwrapper{
        width: 100%;
        .heroBannerContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            position: relative;
            max-width: 700px;
            margin: 0 auto;
            color: #fff;
    
            .title{
                font-size: 50px;
                font-weight: 700;
                margin-bottom: 10px;

                @include md{
                    font-size: 90px;
                    margin-bottom: 0px;
                }
            }

            .subtitle{
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 40px;     
                
                @include md{
                    font-size: 24px;
                }
            }

            .searchInput{
                display: flex;
                align-items: center;
                width: 100%;

                input{
                    width: calc(100% - 100px);
                    height: 50px;
                    background-color: #fff;
                    outline: 0;
                    border: none;
                    padding: 0 15px;
                    border-radius: 30px 0 0 30px;
                    font-size: 14px;

                    @include md{
                        width: calc(100% - 150px);
                        height: 60px;
                        font-size: 20px;
                        padding: 0 30px;
                    }
                }

                button{
                    width: 100px;
                    height: 50px;
                    outline: 0;
                    border: none;
                    background: var(--gradient);
                    border-radius: 0 30px 30px 0;

                    @include md{
                        width: 150px;
                        height: 60px;
                    }
                }
            }
        }
    }
}