@import '../../mixins.scss';

.header{
    position: fixed;
    transform: translateY(0);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 2;


    .contentwrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            cursor: pointer;
            margin-left: 20px;
            img{
                width: 50px;
            }
        }

        .menuItems{
            list-style-type: none;
            display: none;
            align-items: center;
            @include md {
                display: flex;
            }

            .menuItem{
                height: 60px;
                display: flex;
                align-items: center;
                // background-color: burlywood;
                margin: 0 15px;
                color: white;
                font-weight: 500;
                position: relative;

                &.searchIcon {
                    margin-right: 0;
                }

                svg {
                    font-size: 18px;
                }

                cursor: pointer;
                &:hover {
                    color: var(--pink);
                }
            }
        }

        .mobileMenuItems{
            display: flex;
            align-items: center;
            gap: 20px;
            margin-right: 20px;

            @include md {
                display: none;
            }

            svg {
                font-size: 18px;
                color: white;
            }
        }

        &.mobileView{
            background-color: rebeccapurple;
        }
    }
}